@import "../../responsive";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 flex-direction: row;
  // position: relative; 
   height: 100px;
  background-color: #f8cb1c
  }




.route {
  margin: 0 20px;
}

.routes {
  @extend .container;
  // justify-content: space-between;

}


.rightItems {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
}

.logout {
  margin-left: 10px;
}
